# Jupyter tmp files 
.ipynb_checkpoints

# VSCode settings
*.code-workspace
.vscode
__pycache__

# PyCharm
.idea

# Compiled files
*.pyc
dist
*egg-info*

# Maya
.mayaSwatches

# place to store render scenes
**/data_generation/Scenes

# file for small script tries
tmp*
*tmp*.mb
Logs*
output*

# Nicegui
.nicegui

assets/img
assets/bodies
assets/garment_configs
assets/Patterns
*.DS_Store
.DS_Store